# Entornos
__pycache__/
*.pyc
.env
# Datos crudos grandes (van con DVC, no con Git)
data/raw/
data/processed/
# Modelos serializados (van con DVC, no con Git)
models/
# MLflow
mlruns/
# Jupyter checkpoints
.ipynb_checkpoints/
# Conda
*.egg-info/