# Entornos
__pycache__/
*.pyc
.env
# MLflow
mlruns/
# Jupyter checkpoints
.ipynb_checkpoints/
# Conda
*.egg-info/
data/raw/*
data/processed/*
models/*
!data/raw/*.dvc
!data/processed/*.dvc
!models/*.dvc